
body {
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f1f1f1;
  font-size: 20px;
  font-weight: 500; 
  color: #004354;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;  
  line-height: 1.35;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

p {
 hyphens: auto;
 font-family: helvetica;
 background-color: #ffffff85;
 padding: 10px;
}

blockquote {
  hyphens: auto;
  text-align: justify;
  background-image: url('http://sfwallpaper.com/images/pastel-purple-wallpaper-5.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10px;

}

h1 {
  color: #004354;
  background-color: #a3c5d385;
  font-weight: 800
  font-size: 6vw	
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #004354;
  border-bottom-color: #c000;
  padding: 20px;
  font-family: times new roman;
}

h2 {
  font-weight: 100;
  border-left: 10px solid #004354;
  border-color: ;
  padding: 20px;
  background-color: hsla(196, 35%, 73%, 0.493);
  font-family: times new roman;
}


h3 {
	color: purple;
	font-weight: 100;
	text-decoration: none;
}

h4 {
	color: rose;
	font-weight: 400;
	text-decoration: line-through;
}

h5 {
	color: emerald;
	font-weight: 500;
}

table {
	text-align: center;
	padding: 10px;
	border-width: 3px;
	margin-left: 15px;
	border-collapse: collapse;
}
th, td{
	border: 1px solid white;
	padding: 10px;
}
th{
	text-align: left;
}

a:link {
	color: green;
	text-decoration: none;
} <!-- doesn't work -->

a:visited {
	color: burgundy;
	text-decoration: line-through; <!-- doesn't work -->
}

a:hover {
	color: violet;
	text-decoration: underline;
}

a:active {
  color: cyan;
  background-color: transparent;
  text-decoration: underline;
}


img {	
  }

portrait {
  float: right; 
  width: 157px; 
  margin-left: 10px
  padding: 0px;
}

img.portrait {
  float: right; 
  width: 157px; 
  margin-left: 10px
  padding: 0px;
}

/*Menu!!*/

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004354;
}


li.menu{
  float: left;
}

li.menu a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li.menu a:hover {
  background-color: #111111;
}


/*Dropdown Menu!!*/

.dropbtn {
  background-color: #004354;
  color: white;
  padding: 0;
  font-size: 20px;
  border: none;
  font-family: times new roman;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  max-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #111111;}

ol.list {
 overflow: visible; 
}

ul {
 background-color: #ffffff85;
 padding-left: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  background-color: #004354;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
} 

.gallery div{
  padding: 10px;
  background-color: #ffffff85;
  max-width: 700px;
  margin-top: 10px;
}

.gallery img{
  max-height: 250px;
}

.gallery p{
  text-align: center;
  font-size: 10px;
  background-color: none;
}

.box-1{
  flex: 1;
}

.box-2{
  flex: 1;
}